{% load static %}
<!DOCTYPE html>
<html>
	<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="OpenEvent">
    <meta name="keywords" content="OpenEvent, Evento">
    <meta name="author" content="kelwys">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>OpenEvent</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/et-line.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
        <div>
            {% include 'nav.html' only %}
        </div>

        {% block content %}
        {% endblock content %}
    <!-- jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!--slick carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!--parallax -->
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <!--Counter up -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!--Counter down -->
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- WOW JS -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

<div class="copyright_footer fixed-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> | OpenEvent | Todos os Direitos Reservados</p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}#palestrantes">Palestrantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}#patrocinadores">Patrocinadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'home' %}#inscricao">Inscrição</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</html>