{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="OpenEvent">
    <meta name="keywords" content="OpenEvent, Evento">
    <meta name="author" content="kelwys">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title>OpenEvent</title>
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/et-line.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="{% static 'img/logo.png' %}" alt="OpenEvent"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#palestrantes">Palestrantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#patrocinadores">Patrocinadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#inscricao">Inscrição</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider owl-carousel owl-theme">
        <div class="cover_item" style="background: url({% static 'img/bg/slider.jpg' %});">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h2 class="cover-title">
                                Prepare-se para o
                            </h2>
                            <strong class="cover-xl-text">OpenEvent</strong>
                            <p class="cover-date">
                                12 e 13 de Outubro 2019  - Vitória, ES.
                            </p>
                            <a href="/inscricao" class=" btn btn-primary btn-rounded" >
                                Inscreva-se Já!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--cover section slider end -->

<!--about the event -->
<section id="sobre" class="pt100 pb10">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                SOBRE O EVENTO
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing eli. Integer iaculis in lacus a sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                    A PythonBrasil é o maior evento sobre linguagem de programação Python do Brasil. Feito pela comunidade para a comunidade, tem o objetivo de difundir a linguagem, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social. São 6 dias de imersão onde os participantes poderão contribuir para projetos de software livre, participar de treinamentos e adquirir novos conhecimentos com desenvolvedores renomados da comunidade.
                    Este ano, está sendo organizada pela comunidade Python de Ribeirão Preto/SP com o apoio da APyB (Associação Python Brasil).
                    As palestras da 15ª edição da Python Brasil acontecerão de sexta a domingo no Centro de Convenções de Ribeirão Preto, CCRP.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    In rhoncus massa nec  sollicitudin. Ut hendrerit hendrerit nisl a accumsan. Pellentesque convallis consectetur tortor id placerat. Curabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod quis. Maecenas ornare, ex in malesuada tempus.
                    A PythonBrasil é o maior evento sobre linguagem de programação Python do Brasil. Feito pela comunidade para a comunidade, tem o objetivo de difundir a linguagem, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social. São 6 dias de imersão onde os participantes poderão contribuir para projetos de software livre, participar de treinamentos e adquirir novos conhecimentos com desenvolvedores renomados da comunidade.
                    Este ano, está sendo organizada pela comunidade Python de Ribeirão Preto/SP com o apoio da APyB (Associação Python Brasil).
                    As palestras da 15ª edição da Python Brasil acontecerão de sexta a domingo no Centro de Convenções de Ribeirão Preto, CCRP.
                </p>
            </div>
        </div>

    </div>
</section>
<!--about the event end -->
<!--event info -->
<section class="pb10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-calendar-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            DATA
                        </h5>
                        <p>
                            12 e 13 Outubro 2019
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-location-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            LOCALIZAÇÃO
                        </h5>
                        <p>
                            Vitória, ES.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--event info end -->
<!--speaker section-->
<div class="rounded keynote pt100 pb100" id="palestrantes">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
               Nossos Palestrantes
            </h3>
        </div>
    </div>
    {% for p in palestrantes %}
        <div class="keynoter">
            <div class="photo" style="background-image: url({{ p.photo }})">
            </div>
            <div class="content">
                <h3 id="{{p.name}}">{{ p.name }}</h3>
                <h4 id="{{p.social_midia}}">{{ p.social_midia }}</h4>
                <p>{{ p.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>
<!--speaker section end -->


<!--event calender-->
<section id="agenda" class="pt100 pb100">
    <div class="container">
        <div class="table-responsive">
            <table class="event_calender table">
                <thead class="event_title">
                <tr>
                    <th>
                        <i class="ion-ios-calendar-outline"></i>
                        <span>AGENDA</span>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <thead class="event_box">
                <tr>
                    <th>
                        <h6>Data</h6>
                    </th>
                    <th>
                        <h6>Horario</h6>
                    </th>
                    <th>
                        <h6>Palestrante</h6>
                    </th>
                    <th>
                        <h6>Palestra</h6>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for a in agenda %}
                    <tr>
                        <td class="event_date">
                            <span>{{ a.date|date:"d/m" }}</span>
                        </td>
                        <td class="event_date">
                            <span>{{ a.time }}</span>
                        </td>
                        <td class="event_date">
                            <span>{{ a.palestrante }}</span>
                        </td>
                        <td class="event_date">
                            <span>{{ a.nome_palestra }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--event calender end -->

<!--brands section -->
<section id="patrocinadores" class="bg-gray pt100 pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                NOSSOS PATROCINADORES
            </h3>
        </div>
        <div class="brand_carousel owl-carousel">
            {% for pat in patrocinio %}
                <div class="brand_item text-center">
                <img src="{{ pat.photo }}" alt="brand">
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!--brands section end-->

<!--get tickets section -->
<section id="inscricao" class="bg-img pt100 pb100" style="background-image: url({% static 'img/bg/tickets.png' %});">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
                INSCRIÇÕES ABERTAS!
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                Fique à vontade para entrar em contato com a gente. Teremos prazer em responder quaisquer dúvidas.
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="/inscricao/" class="btn btn-primary btn-rounded mt30">INSCREVA-SE JÁ!</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->


<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> | OpenEvent | Todos os Direitos Reservados</p>
            </div>
            <div class="col-12 col-md-6 ">
                <ul class="footer_menu">
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#palestrantes">Palestrantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#patrocinadores">Patrocinadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#inscricao">Inscrição</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer end -->

<!-- jquery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!--slick carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!--parallax -->
<script src="{% static 'js/parallax.min.js' %}"></script>
<!--Counter up -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!--Counter down -->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>