{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--page title section end-->
<section class="pt100 pb100">
    <div class="container">
        <h3>Obrigado por se inscrever!</h3>
        <div class="col-12">
            <p>Estes foram os dados que você nos forneceu em sua inscrição:</p>

            <ul>
                <li>Nome: {{ inscrito.name }}</li>
                <li>CPF: {{ inscrito.cpf }}</li>
                <li>Email: {{ inscrito.email }}</li>
                <li>Telefone: {{ inscrito.phone }}</li>
            </ul>

            <p>Em até 48 horas úteis, a nossa equipe entrará em contato com você para concluirmos a sua matrícula.</p>

        </div>
    </div>
</section>
{% endblock content %}