<!--header start here -->
{% load static %}
<header class="header navbar fixed-top navbar-expand-md sticky_header top-inscricao">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="{% static 'img/logo.png' %}" alt="OpenEvent"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}#palestrantes">Palestrantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}#agenda">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}#patrocinadores">Patrocinadores</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->